Repository OneGround/ZGW-APIs, pull requests merged in 2025-07, with the labels that each got.

#37 FUND-1738 - Setup local environment based on HaProxy
  .gitignore
  localdev/README.md
  localdev/docker-compose.oneground-certificates.yml
  localdev/docker-compose.oneground.yml
  localdev/haproxy/haproxy-localstack.cfg
  localdev/oneground-certificates-generator/Dockerfile
  localdev/oneground-certificates-generator/generate-oneground-certificates.sh
  localdev/oneground-certificates-installer/install-oneground-certificate.ps1
  localdev/oneground-certificates-installer/install-oneground-certificate.sh
  src/appsettings.Shared.json
Labels: Documentation, Localdev

#38 FUND-1738 - Localdev data seed
  localdev/docker-compose.oneground.yml
  localdev/oneground-services-data/ac-data/applicaties.json
  src/OneGround.ZGW.Referentielijsten.Web/Data/Communicatie_kanalen_data.json
  src/OneGround.ZGW.Referentielijsten.Web/Data/Proces_typen_data.json
  src/OneGround.ZGW.Referentielijsten.Web/Data/Resultaten_data.json
Labels: Localdev

#43 FUND-1855 ZTC: Fixing patches for zakentypen and besluitypen with soft relations
  src/OneGround.ZGW.Catalogi.Web/Controllers/v1/3/BesluitTypeController.cs
  src/OneGround.ZGW.Catalogi.Web/Controllers/v1/3/ZaakTypeController.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/3/GetBesluitTypeQueryHandler.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/3/GetZaakTypeQueryHandler.cs
  src/OneGround.ZGW.Catalogi.Web/MappingProfiles/v1/3/DomainToResponseProfile.cs
  src/Tests/OneGround.ZGW.Common.Web.UnitTests/RequestMergerTests.cs
Labels: Bug, Catalogi API

#51 FUND-1889 ZRC: fix some found issues in search zaken endpoint
  src/OneGround.ZGW.Besluiten.Contracts/v1/Queries/GetAllBesluitenQueryParameters.cs
  src/OneGround.ZGW.Besluiten.Contracts/v1/Queries/GetBesluitenQueryParameters.cs
  src/OneGround.ZGW.Common.Contracts/IExpandParameter.cs
  src/OneGround.ZGW.Common.Contracts/QueryParameters.cs
  src/OneGround.ZGW.Common.Web/Validations/IRuleBuilderExtensions.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetAllEnkelvoudiginformatieobjectenQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetAllGebruiksRechtenQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetAllVerzendingenQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetEnkelvoudiginformatieobjectQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetGebruiksRechtQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetObjectInformatieObjectQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Queries/GetVerzendingQueryParameters.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/5/Requests/EnkelvoudigInformatieObjectSearchRequestDto.cs
  src/OneGround.ZGW.Documenten.Contracts/v1/Queries/GetAllObjectInformatieObjectenQueryParameters.cs
  src/OneGround.ZGW.Zaken.Contracts/v1/5/IZakenCommonSearchableFields.cs
  src/OneGround.ZGW.Zaken.Contracts/v1/5/Queries/GetAllZakenQueryParameters.cs
  src/OneGround.ZGW.Zaken.Contracts/v1/5/Queries/GetZaakQueryParameters.cs
  src/OneGround.ZGW.Zaken.Contracts/v1/5/Queries/SearchZakenQueryParameters.cs
  src/OneGround.ZGW.Zaken.Contracts/v1/5/Requests/ZaakSearchRequestDto.cs
  src/OneGround.ZGW.Zaken.Web/Controllers/v1/5/ZakenController.cs
  src/OneGround.ZGW.Zaken.Web/Controllers/v1/ZakenController.cs
  src/OneGround.ZGW.Zaken.Web/Handlers/v1/5/GetAllZakenQueryHandler.cs
  src/OneGround.ZGW.Zaken.Web/MappingProfiles/v1/5/RequestToDomainProfile.cs
  src/OneGround.ZGW.Zaken.Web/MappingProfiles/v1/RequestToDomainProfile.cs
  src/OneGround.ZGW.Zaken.Web/Models/v1/5/GetAllZakenFilter.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/5/Queries/SearchZakenQueryParametersValidator.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/5/Queries/ZakenQueryParametersValidator.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/5/ZaakSearchRequestValidator.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/5/ZaakSearchRequestValidators.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/5/ZakenSearchValidator.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/ZaakSearchRequestValidator.cs
Labels: Bug, Zaken API

#53 FUND-1852 - Updated packages versioning
  .github/scripts/Get-NextApplicationVersion.ps1
  .github/workflows/cd-autorisaties.yml
  .github/workflows/cd-besluiten.yml
  .github/workflows/cd-build-and-publish-image.yml
  .github/workflows/cd-catalogi.yml
  .github/workflows/cd-documenten.yml
  .github/workflows/cd-notificaties.yml
  .github/workflows/cd-referentielijsten.yml
  .github/workflows/cd-zaken.yml
  src/OneGround.ZGW.Autorisaties.WebApi/README.md
  src/OneGround.ZGW.Besluiten.WebApi/README.md
  src/OneGround.ZGW.Catalogi.WebApi/README.md
  src/OneGround.ZGW.Documenten.Messaging.Listener/README.md
  src/OneGround.ZGW.Documenten.WebApi/README.md
  src/OneGround.ZGW.Notificaties.Messaging.Listener/README.md
  src/OneGround.ZGW.Notificaties.WebApi/README.md
  src/OneGround.ZGW.Referentielijsten.WebApi/README.md
  src/OneGround.ZGW.Zaken.WebApi/README.md
Labels: Improvement

#52 FUND-1632 Fix ZgwTokenClient registration, use IHostApplicationBuilder for listerners
  localdev/.env
  localdev/default.env
  localdev/docker-compose.oneground.yml
  localdev/keycloak/KeycloakSetup/Program.cs
  localdev/postgresql/init-database.sh/init-database.sh
  src/OneGround.ZGW.Autorisaties.WebApi/Program.cs
  src/OneGround.ZGW.Besluiten.WebApi/Program.cs
  src/OneGround.ZGW.Catalogi.WebApi/Program.cs
  src/OneGround.ZGW.Common.ServiceAgent/Extensions/ServiceAgentExtensions.cs
  src/OneGround.ZGW.Common.Web/Configuration/ZgwApiHostConfigurationExtensions.cs
  src/OneGround.ZGW.Common.Web/Extensions/ServiceCollection/ZGWAuthentication.cs
  src/OneGround.ZGW.Common/Configuration/ConfigurationBuilderExtensions.cs
  src/OneGround.ZGW.Common/Configuration/ZgwListenerHostConfigurationExtensions.cs
  src/OneGround.ZGW.Common/Logging/SerilogConfig.cs
  src/OneGround.ZGW.Documenten.Messaging.Listener/Program.cs
  src/OneGround.ZGW.Documenten.Messaging.Listener/ZGW.Documenten.Messaging.Listener.csproj
  src/OneGround.ZGW.Documenten.WebApi/Program.cs
  src/OneGround.ZGW.Notificaties.Messaging.Listener/Program.cs
  src/OneGround.ZGW.Notificaties.WebApi/Program.cs
  src/OneGround.ZGW.Zaken.WebApi/Program.cs
  src/OneGround.ZGW.Zaken.WebApi/appsettings.Local.json
Labels: Autorisaties API, Referentielijsten API, Besluiten API, Documenten API, Notificaties API, Zaken API, Catalogi API, Common, Improvement, Localdev

#55 FUND-1852 - Fixed Get-NextApplicationVersion script
  .github/scripts/Get-NextApplicationVersion.ps1
Labels: Bug

#56 FUND-1852 - Fixed CD build and publish image script
  .github/workflows/cd-build-and-publish-image.yml
Labels: Bug

#63 FUND-1738 - Getting-started updates
  .github/workflows/cd-docker-hub-repository-update.yml
  getting-started/docker-compose/.env
  getting-started/docker-compose/README.md
  getting-started/docker-compose/docker-compose.yml
  localdev/.env
  localdev/README.md
  localdev/docker-compose.yml
Labels: Bug, Documentation

#65 ZTC 1.0 Set default value in InformatieObjectCategorie
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/CreateInformatieObjectTypeCommandHandler.cs
Labels: Bug, Catalogi API
