Repository OneGround/ZGW-APIs, pull requests merged in 2025-08, with the labels that each got.

#72 FUND-1630 bugfix notificatie deleting document
  src/OneGround.ZGW.Documenten.Web/Handlers/DocumentKenmerkenResolver.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/DocumentenBaseHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/CreateEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/DownloadEnkelvoudigInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/GetAllEnkelvoudigInformatieObjectenQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/GetBestandsdeelQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/GetEnkelvoudigInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/LockEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/MutatieEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/UpdateEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/1/UploadBestandsDeelCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/CreateEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/CreateVerzendingCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/DeleteVerzendingCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/DownloadEnkelvoudigInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/GetAllEnkelvoudigInformatieObjectenQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/GetAllVerzendingenQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/GetEnkelvoudigInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/GetVerzendingQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/LockEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/MutatieEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/UpdateEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/5/UpdateVerzendingCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/CreateEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/CreateGebruiksRechtCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/CreateObjectInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/DeleteEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/DeleteGebruiksRechtCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/DeleteObjectInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/DownloadEnkelvoudigInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetAllEnkelvoudigInformatieObjectAuditTrailRegelsHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetAllEnkelvoudigInformatieObjectenQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetAllGebruiksRechtenQuery.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetAllObjectInformatieObjectenQuery.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetEnkelvoudigInformatieObjectAuditTrailRegelHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetEnkelvoudigInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetGebruiksRechtQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/GetObjectInformatieObjectQueryHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/LockEnkelvoudigInformatieObjectCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Handlers/v1/UpdateGebruiksRechtCommandHandler.cs
  src/OneGround.ZGW.Documenten.Web/Startup.cs
  src/Tests/OneGround.ZGW.Documenten.WebApi.UnitTests/EnkelvoudigeInformatieHandlerTests/EnkelvoudigInformatieObjectVersionsBase.cs
Labels: Bug, Documenten API

#73 FUND-1738 - Fix SSL certificates mounting
  getting-started/docker-compose/README.md
  getting-started/docker-compose/docker-compose.yml
  getting-started/docker-compose/entrypoint.sh
  localdev/README.md
  localdev/docker-compose.yml
  localdev/entrypoint.sh
  tools/oneground-certificates-generator/generate-oneground-certificates.sh
Labels: Bug, Documentation, Localdev, Getting-started

#68 FUND-1738 - Run OneGround ZGW API as standalone service
  getting-started/docker-compose/README.md
  getting-started/standalone/README.md
Labels: Documentation, Autorisaties API, Referentielijsten API, Besluiten API, Documenten API, Notificaties API, Zaken API, Catalogi API, Improvement, Localdev, Getting-started

#75 FUND-1930: Polly reconfig, async/await fixes and some other fixes
  src/OneGround.ZGW.Besluiten.Web/Expands/v1/BesluitInformatieObjectenExpander.cs
  src/OneGround.ZGW.Besluiten.Web/Expands/v1/BesluitTypeExpander.cs
  src/OneGround.ZGW.Besluiten.WebApi/appsettings.json
  src/OneGround.ZGW.Catalogi.ServiceAgent/v1/3/CatalogiServiceAgent.cs
  src/OneGround.ZGW.Catalogi.ServiceAgent/v1/3/ICatalogiServiceAgent.cs
  src/OneGround.ZGW.Common/Caching/GenericCache.cs
  src/OneGround.ZGW.Documenten.Web/Expands/v1/5/InformatieObjectExpander.cs
  src/OneGround.ZGW.Documenten.Web/Expands/v1/5/InformatieObjectTypeExpander.cs
  src/OneGround.ZGW.Documenten.WebApi/appsettings.json
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/HoofdZaakExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/RollenExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakBaseExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakContactmomentExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakInformatieObjectenExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakObjectenExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakResultaatExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakStatusExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakTypeExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZaakVerzoekenExpander.cs
  src/OneGround.ZGW.Zaken.Web/Expands/v1/5/ZakenCollectionExpander.cs
  src/OneGround.ZGW.Zaken.WebApi/appsettings.json
Labels: Bug, Besluiten API, Documenten API, Zaken API

#76 FUND-1975 - Extended Notifications service with HTTP option
  getting-started/standalone/README.md
  localdev/default.env
  localdev/docker-compose.yml
  src/OneGround.ZGW.Autorisaties.Web/Startup.cs
  src/OneGround.ZGW.Autorisaties.WebApi/appsettings.Local.json
  src/OneGround.ZGW.Besluiten.Web/Startup.cs
  src/OneGround.ZGW.Besluiten.WebApi/appsettings.Local.json
  src/OneGround.ZGW.Catalogi.Web/Startup.cs
  src/OneGround.ZGW.Catalogi.WebApi/appsettings.Local.json
  src/OneGround.ZGW.Common.Web/Services/NotificatieMessageQueueService.cs
  src/OneGround.ZGW.Documenten.Web/Startup.cs
  src/OneGround.ZGW.Documenten.WebApi/appsettings.Local.json
  src/OneGround.ZGW.Notificaties.ServiceAgent/Extensions/NotificatiesServiceAgentExtensions.cs
  src/OneGround.ZGW.Notificaties.ServiceAgent/INotificatiesServiceAgent.cs
  src/OneGround.ZGW.Notificaties.ServiceAgent/NotificatieHttpService.cs
  src/OneGround.ZGW.Notificaties.ServiceAgent/NotificatieServiceConfiguration.cs
  src/OneGround.ZGW.Notificaties.ServiceAgent/NotificatieServiceType.cs
  src/OneGround.ZGW.Notificaties.ServiceAgent/NotificatiesServiceAgent.cs
  src/OneGround.ZGW.Notificaties.ServiceAgent/ZGW.Notificaties.ServiceAgent.csproj
  src/OneGround.ZGW.Notificaties.Web/Startup.cs
  src/OneGround.ZGW.Notificaties.WebApi/appsettings.Local.json
  src/OneGround.ZGW.Zaken.Web/Startup.cs
  src/OneGround.ZGW.Zaken.WebApi/appsettings.Local.json
  src/appsettings.Shared.json
Labels: Documentation, Autorisaties API, Referentielijsten API, Besluiten API, Documenten API, Notificaties API, Zaken API, Catalogi API, Common, Improvement, Localdev, Getting-started

#77 FUND-1970: ZTC 1.3 does not clear cache correctly
  src/OneGround.ZGW.Catalogi.ServiceAgent/v1/3/Extensions/CatalogiServiceAgentExtensions.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/3/CreateBesluitTypeCommandHandler.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/3/CreateInformatieObjectTypeCommandHandler.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/3/CreateZaakTypeCommandHandler.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/CreateBesluitTypeCommandHandler.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/CreateInformatieObjectTypeCommandHandler.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/CreateZaakTypeCommandHandler.cs
Labels: Bug, Catalogi API

#78 FUND-1998 NRC does not send kenmerk field transaction_id
  src/OneGround.ZGW.Notificaties.Messaging/Consumers/SendNotificatiesConsumer.cs
Labels: Bug, Notificaties API

#79 FUND-1625 - Set domain in cert generation script
  tools/oneground-certificates-generator/Dockerfile
  tools/oneground-certificates-generator/generate-oneground-certificates.sh
Labels: Improvement, Localdev

#85 Fixing Issues & Security Hotspots from SonarQube
  src/OneGround.ZGW.Autorisaties.Common/BusinessRules/ApplicatieBusinessRuleService.cs
  src/OneGround.ZGW.Besluiten.Web/Handlers/v1/CreateBesluitCommandHandler.cs
  src/OneGround.ZGW.Catalogi.ServiceAgent/v1/3/CatalogiServiceAgent.cs
  src/OneGround.ZGW.Catalogi.ServiceAgent/v1/CatalogiServiceAgent.cs
  src/OneGround.ZGW.Catalogi.Web/Handlers/v1/3/Extensions/StatusTypeExensionMethods.cs
  src/OneGround.ZGW.Common.ServiceAgent/ZGWServiceAgent.cs
Labels: Autorisaties API, Besluiten API, Catalogi API, Common

#86 FUND-1570 NRC- and DRC-Listeners add health-check
  getting-started/docker-compose/.env
  getting-started/docker-compose/README.md
  localdev/.env
  localdev/README.md
  localdev/haproxy/haproxy-localstack.cfg
  src/OneGround.ZGW.Documenten.Messaging.Listener/Dockerfile
  src/OneGround.ZGW.Documenten.Messaging.Listener/Program.cs
  src/OneGround.ZGW.Documenten.Messaging.Listener/Properties/launchSettings.json
  src/OneGround.ZGW.Documenten.Messaging.Listener/ZGW.Documenten.Messaging.Listener.csproj
  src/OneGround.ZGW.Notificaties.Messaging.Listener/Dockerfile
  src/OneGround.ZGW.Notificaties.Messaging.Listener/Program.cs
  src/OneGround.ZGW.Notificaties.Messaging.Listener/Properties/launchSettings.json
  src/OneGround.ZGW.Notificaties.Messaging.Listener/ZGW.Notificaties.Messaging.Listener.csproj
Labels: Documenten API, Notificaties API, Common, Improvement
