Repository OneGround/ZGW-APIs, pull requests merged in 2025-06, with the labels that each got.

#25 FUND-1777 Remove ReloadTypes after applying migrations
  src/OneGround.ZGW.DataAccess/DatabaseInitializer.cs
  src/OneGround.ZGW.DataAccess/DatabaseVerifier.cs
Labels: Bug, Common

#27 FUND-1671 - Improved DiscoveryDocument caching
  src/OneGround.ZGW.Common.Abstractions/Constants/ServiceRoleName.cs
  src/OneGround.ZGW.Common.ServiceAgent/Extensions/ServiceAgentExtensions.cs
  src/OneGround.ZGW.Common/Authentication/IZgwAuthDiscoveryCache.cs
  src/OneGround.ZGW.Common/Authentication/IZgwTokenService.cs
  src/OneGround.ZGW.Common/Authentication/ZgwAuthDiscoveryCache.cs
  src/OneGround.ZGW.Common/Authentication/ZgwTokenCacheService.cs
  src/OneGround.ZGW.Common/Authentication/ZgwTokenService.cs
  src/OneGround.ZGW.Common/Exceptions/OneGroundException.cs
Labels: Common, Improvement

#31 FUND-1606 rollback changes and fix on another way preventing storing types with ending slash
  src/OneGround.ZGW.Besluiten.Web/MappingProfiles/v1/RequestToDomainProfile.cs
  src/OneGround.ZGW.Besluiten.Web/Validators/BesluitRequestValidator.cs
  src/OneGround.ZGW.Common.Web/Validations/IRuleBuilderExtensions.cs
  src/OneGround.ZGW.Documenten.Web/MappingProfiles/v1/1/RequestToDomainProfile.cs
  src/OneGround.ZGW.Documenten.Web/MappingProfiles/v1/5/RequestToDomainProfile.cs
  src/OneGround.ZGW.Documenten.Web/MappingProfiles/v1/RequestToDomainProfile.cs
  src/OneGround.ZGW.Documenten.Web/Validators/v1/1/EnkelvoudigInformatieObjectRequestValidator.cs
  src/OneGround.ZGW.Documenten.Web/Validators/v1/5/EnkelvoudigInformatieObjectRequestValidator.cs
  src/OneGround.ZGW.Documenten.Web/Validators/v1/EnkelvoudigInformatieObjectRequestValidator.cs
  src/OneGround.ZGW.Zaken.Web/MappingProfiles/v1/5/RequestToDomainProfile.cs
  src/OneGround.ZGW.Zaken.Web/MappingProfiles/v1/RequestToDomainProfile.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/5/ZaakRequestValidator.cs
  src/OneGround.ZGW.Zaken.Web/Validators/v1/ZaakRequestValidator.cs
Labels: Bug, Besluiten API, Zaken API, Common

#36 FUND-1823 Fixed Temporary Table DB Connection
  src/OneGround.ZGW.DataAccess/TemporaryTableProvider.cs
Labels: Bug, Common
